.navbar {
  background-color: #000;
  font-style: #FFF;
  font-family: serif;
  color: white;
}
nav {
  color: white !important;
  margin-bottom: 0px;
}
span{
  color:  #f6201d;
}
.navbar-brand{
  color: f6201d;
font-family: 'Roboto', sans-serif;
}

.home{
  background-image:   url("class.png");
  background-size: cover;
  text-align: center;
  margin-top: 0px;
  height: 100%;
}

.color:hover
{
  background-image:   url("new.png");
  background-size: cover;
}
